.btn.xs {
  height: 2rem; /* 32px */
  padding: 0 0.5rem; /* 8px */
}

.btn.sm {
  height: 2.25rem; /* 36px */
  padding: 0 0.75rem; /* 12px */
}

.btn.md {
  height: 2.5rem; /* 40px */
  padding: 0 1rem; /* 16px */
}

.btn.lg {
  height: 2.75rem; /* 44px */
  padding: 0 1.75rem; /* 28px */
}

.link.xs {
  height: 1.25rem; /* 20px */
  padding: 0 0.125rem; /* 0px 2px */
}

.link.sm {
  height: 1.5rem; /* 24px */
  padding: 0 0.25rem; /* 0px 4px */
}

.link.md {
  height: 1.75rem; /* 28px */
  padding: 0 0.5rem; /* 0px 8px */
}

.link.lg {
  height: 2rem; /* 32px */
  padding: 0 0.75rem; /* 0px 12px */
}

.icon.xs {
  height: 2rem; /* 32px */
  width: 2rem; /* 32px */
}

.icon.sm {
  height: 2.25rem; /* 36px */
  width: 2.25rem; /* 36px */
}

.icon.md {
  height: 2.5rem; /* 40px */
  width: 2.5rem; /* 40px */
}

.icon.lg {
  height: 2.75rem; /* 44px */
  width: 2.75rem; /* 44px */
}
