.error-page {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: var(--background);
  color: var(--foreground);
}

.error-page h1 {
  font-size: var(--text-2xl);
}
