.header {
  width: 100%;
  border-top: 1px solid var(--border);
  backdrop-filter: blur(15px);
  position: fixed;
  bottom: 0;
  z-index: var(--z-index-3);
}

.container {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.actions,
.navigation {
  display: contents;
}

.navigation__links {
  display: none;
}

@media (min-width: 768px) {
  .header {
    position: sticky;
    top: 0;
    border-bottom: 1px solid var(--border);
    border-top: none;
  }

  .actions,
  .navigation {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .navigation__links {
    display: flex;
    gap: 16px;
  }
}
